@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?8glz8y');
  src:  url('fonts/icon.eot?8glz8y#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf?8glz8y') format('truetype'),
    url('../fonts/icon.woff?8glz8y') format('woff'),
    url('../fonts/icon.svg?8glz8y#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-ios-upward:before {
  content: "\e900";
}
.icon-bars:before {
  content: "\e901";
}
.icon-bi_arrow-left:before {
  content: "\e902";
}
.icon-bi_arrow-right:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-done:before {
  content: "\e905";
}
.icon-dumbbell:before {
  content: "\e906";
}
.icon-gym-time:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-stationary-bike:before {
  content: "\e90b";
}
.icon-vk:before {
  content: "\e90c";
}
.icon-wallet:before {
  content: "\e90d";
}
.icon-xmark:before {
  content: "\e90e";
}
